* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ececec;
}

.box-area {
  width: 930px;
}

.right-box {
  padding: 40px 30px 40px 40px;
}

::placeholder {
  font-size: 16px;
}
.error-message {
  color: #ff0000; /* Red color for error messages */
  font-size: 16px;
  margin-top: 5px;
}
.btn-login {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px;
  background-color: #007bff; /* Warna latar belakang */
  color: #fff; /* Warna teks */
  border: 1px solid #007bff; /* Warna garis tepi */
  border-radius: 10px;
}

.btn-login:hover {
  background-color: #0056b3; /* Warna latar belakang saat hover */
  border: 1px solid #0056b3; /* Warna garis tepi saat hover */
}

.btn-sigin {
  /* Customize button styles */
  background-color: white; /* Set your desired background color */
  color: #007bff; /* Set your desired text color */
  border: none;

  padding: 5px 5px;
  font-size: 1rem; /* Set your desired font size */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.btn-sigin:hover {
  color: #095db7;
}
.custom-google-btn {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #fff; /* Warna latar belakang */
  color: #4285f4; /* Warna teks */
  border: 1px solid #4285f4; /* Warna garis tepi */
}

.custom-google-btn:hover {
  background-color: #f1f1f1; /* Warna latar belakang saat hover */
}
/* Add styles for success messages */
.success-message {
  color: #008000; /* Green color for success messages */
  font-size: 16px;
  margin-top: 5px;
}
@media only screen and (max-width: 767px) {
  .box-area {
    width: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
}
